<!--FOOTER-->
      <footer class="bg-dark w-100 text-center text-white navbar-brand logo-title px-3">
      <div>
      <i class="fab fa-twitter-square pr-2"></i>
      Twitter
      </div>
      </footer>